CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="iminfo 0x40200000; bootm loadables 0x40200000#conf; md.b 0x60200000 48; echo Payload dump end"
CONFIG_USE_BOOTDELAY=y
CONFIG_BOOTDELAY=0
CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_VERBOSE=y
CONFIG_FIT_CIPHER=y
# CONFIG_BOOTSTD is not set
CONFIG_AES=y
CONFIG_DM_AES=y
CONFIG_AES_SOFTWARE=y
CONFIG_TOOLS_LIBCRYPTO=y
# CONFIG_TOOLS_MKEFICAPSULE is not set
